<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>JSON 2 HTML</title>
<link rel="StyleSheet" type="text/css" href="/javascript/json2html/style.css" />
<script type="text/javascript" src="/javascript/json2html/scripts/json-min.js"></script>
<script type="text/javascript" src="/javascript/json2html/scripts/BubbleTooltips.js"></script>
<script type="text/javascript" src="/javascript/json2html/scripts/parse.js"></script>
<!-- <script type="text/javascript" src="/javascript/application.js"></script> -->
<!--[if lt IE 7]>
<script defer type="text/javascript" src="scripts/pngfix.js"></script>
<![endif]-->

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body id="body" onmouseover="stopFocus();"  onload="doParse();">
  
<a name="_top" class="noa"></a>

<div class="header">
  <a href="http://www.exmouth-market.com/"><img src="images/logo.png" height="60" alt="Exmouth Market" /></a>
  Exmouth Market, Clerkenwell,
  London EC1. Visit  <a href="http://www.exmouth-market.com">http://www.exmouth-market.com</a> for more detail.
</div>

<div class="mainbody">
   <div id="bodywrap" class="bodywrap"></div>
   <div id="desc" class="desc">
      <p><img class="jsonlogo" src="images/json.gif" alt="JSON logo" /><h3>json</h3>
      <i>Quoting from the home page of <a href="http://www.json.org/">JSON</a></i><br />
      JSON (JavaScript Object Notation) is a lightweight data-interchange format. It is easy for humans to read and write. It is easy for machines to parse and generate.</p>
      <p><h3>syntax highlighting:</h3>
      <span class='string'>Colour for text and null values.</span><br />
      <span class='number'>Colour for numbers.</span><br />
      <span class='boolean'>Colour for true and false values.</span><br />
      <span class='void'>Colour for void values.</span><br />
      <img class="ex" src="images/object.png" /> Background for Objects.<br />
      <img class="ex" src="images/array.png" /> Background for Arrays.<br />
      <img class="ex" src="images/objectt.png" /> Background for Object name/value pair tables.<br />
      <img class="ex" src="images/arrayt.png" /> Background for Array value tables.</p>
      <p><h3>dependencies</h3>
      This page uses the JSON JavaScript <a href="http://www.json.org/js.html">parsing library</a>.</p>
      <p><h3>note</h3>
      Words longer than 30 characters may be broken into two or more lines to save space.</p>
      <p class="closep"><input type="button" onclick="hideHelp();" value="close" /></p>
   </div>

   <form action="/" method="post">
      <div class="oz_quiz_notice">
        <p>Simple Web UI for Tokyo Tyrant | <a href="/stat">Stat</a></p>
      </div>
      <p class="mast mast_first"></p></p>
      <p class="mast">
      </p>
      <div id="inputcontainer">
        <textarea name="values" id="text" rows="3"><%= @results %></textarea>
      </div>
      <div class="clear"></div>
      <div class="lfloat">
        <input type="submit" id="submit" value="Update"/> 
      </div>
      <div class="rfloat">
        <input type="button" id="help" value="help" onclick="doHelp();" /></div>
      <div class="clear"></div>
      <hr />
      <a name="_output" class="noa"></a>
      <div id="stats" class="stats"></div>
      <div id="output" class="output"></div>
   </form>
   <div class="footer">Layout and json parsing javascript are from <a href="http://github.com/bloopletech/json2html">json2html</a>.</div>
</body>
</html>