<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Exmouth Market</title>
<link rel="StyleSheet" type="text/css" href="/javascript/json2html/style.css" />
<script type="text/javascript" src="/javascript/json2html/scripts/json-min.js"></script>
<script type="text/javascript" src="/javascript/json2html/scripts/BubbleTooltips.js"></script>
<script type="text/javascript" src="/javascript/json2html/scripts/parse.js"></script>
<!-- <script type="text/javascript" src="/javascript/application.js"></script> -->
<!--[if lt IE 7]>
<script defer type="text/javascript" src="scripts/pngfix.js"></script>
<![endif]-->

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body id="body" onmouseover="stopFocus();"  onload="doParse();">
  
<a name="_top" class="noa"></a>

<div class="header">
  <a href="http://www.exmouth-market.com/"><img src="images/logo.png" height="60" alt="Exmouth Market" /></a>
  Exmouth Market, Clerkenwell,
  London EC1. Visit  <a href="http://www.exmouth-market.com">http://www.exmouth-market.com</a> for more detail.
</div>

<div class="mainbody">
   <div id="bodywrap" class="bodywrap"></div>
   <div id="desc" class="desc">
     <h3>How to</h3>
     <h4>Create</h4>
      Update in {key:value} format. 
     <h4>Update</h4>
      Update in {key:value} format.
     <h4>Delete</h4>
      Specify the key you want to delete
     <h4>Delete Al</h4>
      <p class="closep"><input type="button" onclick="hideHelp();" value="close" /></p>
   </div>

   <form action="/" method="post">
      <div class="oz_quiz_notice">
        <p><strong>Exmouth Market</strong> - Simple Sinatra based Web UI for Tokyo Tyrant </p>
        <p><%= "Host:#{HOST},Port:#{PORT},Table:#{TABLE}, Type: #{TYPE}"%> (More detailed <a href="/stat">stat</a>)
      </div>
      <p class="mast mast_first"></p></p>
      <p class="mast">
      </p>
      Example: {"1":"number_1","2":"number_2","3":"number_3","4":"number_4","5":"number_5"}
      <div id="inputcontainer">
        <textarea name="values" id="text" rows="3"><%= @results %></textarea>
      </div>
      <div class="clear"></div>
      <div class="lfloat">
        <input type="submit" id="submit" value="Update"/> 
      </div>
      <div class="rfloat">
        <input type="button" id="help" value="help" onclick="doHelp();" /></div>
      <div class="clear"></div>
   </form>
   <hr />
   <form method="post" action="/destroy">
     <input name="key" value="specify_key" />
     <div>
       <input type="submit" id="submit" value="Destroy"/> 
      </div>
   </form>
   <form method="post" action="/destroy_all">
     <div>
       <input type="submit" id="submit" value="Destroy All"/> 
      </div>
   </form>
   
   <hr />
   <a name="_output" class="noa"></a>
   <div id="stats" class="stats"></div>
   <div id="output" class="output"></div>
   
   
   <div class="footer">Layout and json parsing javascript are from <a href="http://json.bloople.net/">json2html</a>.</div>
</body>
</html>